/* General Styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: rgb(120, 150, 184);
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
}

.links li {
  margin-left: 10px;
}

.links a {
  text-decoration: none;
  color: #fff;
}

#about {
  text-align: center;
}

#about .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about .text {
  flex: 1;
  text-align: left;
}

#about .image {
  flex: 1;
  text-align: right;
}

#about img {
  max-width: 30%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery a {
  flex: 1 0 33%;
  text-decoration: none;
  display: block;
}

.gallery img {
  width: 100%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery img.large {
  width: 100%;
  height: auto;
}
/* .image-resize {
  height: 200px;
  object-fit: none;
} */

/* Responsive Styles */
@media (max-width: 768px) {
  .gallery a {
    flex: 1 0 50%;
  }
}

@media (max-width: 480px) {
  .gallery a {
    flex: 1 0 100%;
  }
}
